html {
    font-size: 16px;
}

body {
    margin: 0px;
    overflow: hidden;
    background-image: linear-gradient(to top, #293f50 , #648880 15%, #f6f1d3);
}

::-webkit-scrollbar
{
  width: 8px;  
  height: 12px; 
}

::-webkit-scrollbar-track
{
  background: rgba(197, 197, 197, 0.2);
}

::-webkit-scrollbar-thumb
{
  background: rgba($blue, 0.8);
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;

    &:after,
    &:before {
        box-sizing: border-box;
    }
}
